{% extends "base.html" %}

{% block title %}Админ панель{% endblock %}

{% block content %}

<div>
    <h1>Панель администратора</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li class="alert alert-{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <h2>Все задачи</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID задачи</th>
                <th>Описание</th>
                <th>Статус</th>
                <th>Изменить статус</th>
            </tr>
        </thead>
        <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ task.id }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.id_status.name }}</td>
                    <td>
                        <form method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <select name="status" class="form-control">
                                {% for status in task.id_status._meta.model.objects.all %}
                                    <option value="{{ status.id }}" {% if status.id == task.id_status.id %}selected{% endif %}>
                                        {{ status.name }}
                                    </option>
                                {% endfor %}
                            </select>
                            <button type="submit" class="btn btn-primary mt-2">Обновить статус</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
{% endblock %}