{% extends 'base.html' %}
{% block title %}Авторизация{% endblock %}
{% block content %}
<div class="col-md-6 mx-auto">
    <h2 class="mb-4">Вход в систему</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="username" class="form-label">Логин</label>
            <input type="text" id="username" name="username" class="form-control">
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Пароль</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <button class="btn btn-primary" type="submit">Войти</button>
    </form>
</div>
{% endblock %}
