{% extends 'base.html' %}

{% load static %}

{% block title %}История заявок{% endblock %}

{% block content %}
<link rel='stylesheet' href="{% static 'css/images.css' %}">
<div class='gallery'>
    <img src="{% static 'images/7.png' %}" alt="" width='450px'/>
</div>
<link rel='stylesheet' href="{% static 'css/support_dashboard.css' %}">
<div class="dashboard"> <!-- Добавляем класс dashboard -->
    <h1>Ваши заявки</h1>
    <ul>
        {% for task in tasks %}
            <li>{{ task.id_category.name }} | {{ task.description }} | {{ task.id_status.name }}</li> 
        {% endfor %}
    </ul>
    <div>
        <a href="{% url 'create_request' %}">Создать заявку</a>
    </div>
</div>

{% endblock %}