{% extends "base.html" %}
{% load static %}

{% block title %}Авторизация{% endblock %}

{% block content %}
<link rel='stylesheet' href="{% static 'css/images.css' %}">
<div>
    <div class='gallery'>
        <img src="{% static 'images/5.png' %}" alt="" width='150px'/>
    </div>
    <h1>Авторизация</h1>
        {% if form.non_field_errors %}
            <div class="error-message">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type='submit'>Войти</button>
    <form>
<div>
{% endblock %}