<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Портал клининговых услуг{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <a href="/module1/dashboard">Модуль 1</a>
                <a href="/module2/dashboard">Модуль 2</a>
            </ul>
            <ul>
                
                {%if user.is_authenticated %}
                    {% if request.path|slice:":8" == "/module1" %}
                        <a href="{% url 'module1:module1_dashboard' %}?next={{ request.path }}">Страница заявок</a>
                    {% elif request.path|slice:":8" == "/module2" %}
                        <a href="{% url 'module2:module2_dashboard' %}?next={{ request.path }}">Страница заявок</a>
                    {% endif %}
                    {% if request.path|slice:":8" == "/module1" %}
                        <a href="{% url 'module1:module1_admin_panel' %}?next={{ request.path }}">Админка</a>
                    {% elif request.path|slice:":8" == "/module2" %}
                        <a href="{% url 'module2:module2_admin_panel' %}?next={{ request.path }}">Админка</a>
                    {% endif %}
                    <a href="/admin/">Админка Django</a>
                    {% if request.path|slice:":8" == "/module1" %}
                        <li><a href="{% url 'module1:module1_logout' %}">Выход</a></li>
                    {% elif request.path|slice:":8" == "/module2" %}
                        <li><a href="{% url 'module2:module2_logout' %}">Выход</a></li>
                    {% endif %}
                {% else %}
                    {% if request.path|slice:":8" == "/module1" %}
                        <a href="{% url 'module1:module1_login' %}?next={{ request.path }}">Логин</a>
                    {% elif request.path|slice:":8" == "/module2" %}
                        <a href="{% url 'module2:module2_login' %}?next={{ request.path }}">Логин</a>
                    {% endif %}
                    {% if request.path|slice:":8" == "/module1" %}
                        <a href="{% url 'module1:module1_register' %}?next={{ request.path }}">Регистрация</a>
                    {% elif request.path|slice:":8" == "/module2" %}
                        <a href="{% url 'module2:module2_register' %}?next={{ request.path }}">Регистрация</a>
                    {% endif %}   
                {% endif %}
                
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2023 Портал клининговых услуг</p>
    </footer>
</body>
</html>