{% extends "base.html" %}

{% block title %}Сделать заказ{% endblock %}

{% block content %}

<div class="container mt-5">
    <h1 class="text-center mb-4">Создание заказа</h1>

    <form method="post" class="needs-validation" novalidate>
        {% csrf_token %}
        
        <div class="mb-3">
            {{ form.as_p }}
        </div>
        
        <div class="d-grid">
            <button type="submit" class="btn btn-success">Создать заказ</button>
        </div>
    </form>
</div>

{% endblock %}